<a
  cta="primary"
  routerLink="/organizations/create"
  translate
  class="inline-block mb-2"
  >home.createOrganization</a
>

<div *ngIf="organizations$ | async as orgQuery">
  <div
    *ngIf="orgQuery.status === 'loaded'"
    class="padded-content card-container"
  >
    <div *ngFor="let org of orgQuery?.data" class="card">
      <h2 class="h5">{{ org.name }}</h2>

      <p>
        <a
          cta="tertiary"
          [routerLink]="['../', 'organizations', org.name.toLowerCase()]"
        >
          <span translate> home.openOrganization </span>
        </a>
      </p>
    </div>
  </div>

  <div
    *ngIf="orgQuery.status === 'loading'"
    class="padded-content card-container"
    style="--card-width: 200px; --card-height: 200px"
  >
    <div class="card loading">
      <h2></h2>
      <div class="img"></div>
      <p></p>
    </div>
    <div class="card loading">
      <h2></h2>
      <div class="img"></div>
      <p></p>
    </div>
  </div>

  <div *ngIf="orgQuery.status === 'error'" class="mt-2">
    <ui-error [inactive]="false">
      <span translate>home.failedToLoadOrganizations</span>
      .
      <button
        cta="tertiary"
        (click)="orgQuery.retry ? orgQuery.retry() : null"
        translate
      >
        common.retry
      </button>
    </ui-error>
  </div>
</div>
