<a cta="primary" routerLink="/organizations/create" translate
  >home.createOrganization</a
>

<div *ngIf="organizations$ | async as orgQuery">
  <div
    *ngIf="orgQuery.status === 'loaded'"
    class="padded-content card-container"
  >
    <div *ngFor="let org of orgQuery?.data" class="card">
      <h2 class="h5">{{ org.name }}</h2>

      <p>
        <a cta="tertiary" [routerLink]="['../', 'organizations', org.id]">
          <span translate> home.openOrganization </span>
        </a>
      </p>
    </div>
  </div>

  <div
    *ngIf="orgQuery.status === 'loading'"
    class="padded-content card-container"
    style="--card-width: 200px; --card-height: 200px"
  >
    <div class="card loading">
      <h2></h2>
      <div class="img"></div>
      <p></p>
    </div>
    <div class="card loading">
      <h2></h2>
      <div class="img"></div>
      <p></p>
    </div>
  </div>
</div>
