node_modules
lib
# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
# TypeScript incremental compilation cache
*.tsbuildinfo
libs/global/tsconfig.tsbuildinfo
