<article class="centered-content">
  <form (submit)="submit($event)">
    <legend>Send signin code</legend>

    <input
      placeholder="your email"
      type="email"
      name="email"
      autocomplete="email"
      [(ngModel)]="email"
    />

    <span *ngIf="error">{{ error }}</span>

    <button cta="primary" type="submit" [disabled]="!dto">
      <ng-container *ngIf="codeQuery?.status !== 'loading'">
        <span translate>users.auth.sendCode</span>
      </ng-container>
      <ng-container *ngIf="codeQuery?.status === 'loading'">
        <span translate> users.auth.sendingCode </span>
      </ng-container>
    </button>

    <span *ngIf="codeQuery?.status === 'loaded'"> Code sent! </span>

    <span *ngIf="codeQuery?.status === 'error'">
      Error while sending code
    </span>
  </form>
</article>
