<app-navbar>
  <a routerLink="/about">About</a>
</app-navbar>
<article class="centered-content">
  <form (submit)="submit($event)" class="width-12 width-ap-8 width-at-6">
    <legend>Send signin code</legend>

    <input
      placeholder="your email"
      type="email"
      name="email"
      autocomplete="email"
      [(ngModel)]="email"
      class="small-text"
    />

    <span *ngIf="error">{{ error }}</span>

    <button cta="primary" type="submit" [disabled]="!dto">
      <ng-container *ngIf="codeQuery?.status !== 'loading'">
        <span translate>users.auth.sendCode</span>
      </ng-container>
      <ng-container *ngIf="codeQuery?.status === 'loading'">
        <span translate> users.auth.sendingCode </span>
      </ng-container>
    </button>

    <div>
      <a routerLink="code" translate class="small-text"
        >users.auth.alreadyHaveCode</a
      >
    </div>
    <ui-success [inactive]="codeQuery?.status !== 'loaded'">
      <span translate>users.auth.codeSent</span>
    </ui-success>

    <ui-error [inactive]="codeQuery?.status !== 'error'"
      >Error while sending code</ui-error
    >
  </form>
</article>
