<lib-ui-provider theme="light">
  <div style="padding: 20px">
    <nav>
      <a routerLink="buttons" cta="tertiary">Buttons</a>
      <a routerLink="inputs" cta="tertiary">Inputs</a>
      <a routerLink="feedback" cta="tertiary">Feedback</a>
      <a routerLink="global-loader" cta="tertiary">Global loader</a>
      <a routerLink="forms" cta="tertiary">Forms</a>
      <a routerLink="typography" cta="tertiary">Typography</a>
    </nav>

    <main>
      <router-outlet></router-outlet>
    </main>
  </div>
</lib-ui-provider>
