<app-navbar>
  <div class="centered-content">
    <div class="flex space-between align-center">
      <span>
        <a translate routerLink="/home" cta="tertiary">home.link</a>
      </span>
      <a
        translate
        cta="outlined"
        class="align-self-end center"
        routerLink="/users/auth/logout"
      >
        users.auth.logout
      </a>
    </div>
  </div>
</app-navbar>

<article class="centered-content flex-column padded-content pt-4">
  <form #createForm="ngForm" (ngSubmit)="submit($event)">
    <legend>
      <h1 translate class="h2">organizations.forms.createNewOrganization</h1>
    </legend>
    <div>
      <ui-input-field
        [(ngModel)]="createForm.value.name"
        name="name"
        [state]="error && createForm.dirty ? 'error' : ''"
        [feedbackTxt]="
          'common.forms.required'
            | translate: { field: 'organizations.forms.name' | translate }
        "
        ><span translate>organizations.forms.name </span>
      </ui-input-field>
    </div>

    <div>
      <label translate for="description">organizations.forms.description</label>
      <ui-text-editor
        [(ngModel)]="createForm.value.description"
        name="description"
      ></ui-text-editor>
    </div>

    <ui-state-button class="mt-4" [state]="(createQuery$ | async)?.status">
      <span translate>common.forms.submit</span>
    </ui-state-button>
  </form>
</article>
