<app-navbar>
  <a routerLink="/users/auth/signin" translate>users.auth.signIn</a>
</app-navbar>

<article class="centered-content">
  <form (submit)="submit($event)">
    <legend translate class="mb-3">users.auth.signInWithCode</legend>

    <input
      [attr.placeholder]="'code' | translate"
      type="text"
      name="code"
      autocomplete="off"
      [(ngModel)]="code"
    />

    <button cta="primary" type="submit" [disabled]="!dto">
      <ng-container *ngIf="sendCodeQuery?.status !== 'loading'">
        <span translate>users.auth.signIn</span>
      </ng-container>
      <ng-container *ngIf="sendCodeQuery?.status === 'loading'">
        <span translate> users.auth.signingIn </span>
      </ng-container>
    </button>
  </form>

  <ui-error [inactive]="sendCodeQuery?.status !== 'error'"
    >Error while signing in</ui-error
  >

  <div *ngIf="sendCodeQuery && sendCodeQuery.status === 'error'">
    <a routerLink="../" translate>
      <span translate>users.auth.sendCodeAgain </span></a
    >
  </div>
</article>
